{{ if not .Json.version }}
################################################################################
# No version

{{ else if not .Json.base }}
################################################################################
# No base

{{ else if not .Json.name }}
################################################################################
# No name

{{ else if not .Json.ref }}
################################################################################
# {{ .CreationWarning }}
# {{ $.CreationInfo }}
# Plain Docker container for docker-{{ .Json.name }} based off {{ .Json.base }}

ARG VERSION={{ .Json.version }}

# 1. First reference the gearbox-base image.
FROM {{ .Json.base }}
ARG VERSION
ARG GEARBOX_ENTRYPOINT

# 2. Set up env variables.
MAINTAINER {{ with .Json.maintainer }}{{ . }}{{ else }}Unknown{{ end }}
ENV GEARBOX_CONTAINER_NAME "docker-{{ .Json.name }}"
ENV GEARBOX_CONTAINER_VERSION ${VERSION}
ENV GEARBOX_ENTRYPOINT ${GEARBOX_ENTRYPOINT}
LABEL gearbox.json='{{ .JsonString }}'
{{ range $k, $v := .Json }}LABEL container.{{ $k }}="{{ $v }}"
{{ end }}
{{ range $k, $v := .Json }}{{ if ne $k "env" }}ENV GEARBOX_{{ $k | ToUpper }} "{{ $v }}"{{ end }}
{{ end }}
{{ range $k, $v := .Json.env }}ENV {{ $k | ToUpper }} "{{ $v }}"
{{ end }}

# 3. Now copy the local files specific to this container.
COPY build /etc/gearbox
COPY ${VERSION}/build /etc/gearbox
COPY ${VERSION}/gearbox.json /etc/gearbox/gearbox.json

# 4. Run the base.sh script to set everything up.
RUN /bin/bash /etc/gearbox/build/base.sh

# 5. Run the {{ .Json.name }}.sh script to set everything up.
RUN /bin/bash /etc/gearbox/build/{{ .Json.name }}.sh

# 6. Expose ports.
EXPOSE 22 9970 {{ range .Json.ports }}{{ . }} {{ end }}
WORKDIR /home/gearbox/projects

# END
################################################################################

{{ else if eq .Json.ref "base" }}
################################################################################
# {{ .CreationWarning }}
# {{ $.CreationInfo }}
# Base Reference Docker container for docker-{{ .Json.name }} based off {{ .Json.base }}

ARG VERSION={{ .Json.version }}

# 1. First reference the gearbox-base image.
FROM {{ .Json.base }}
ARG VERSION
# ARG GEARBOX_ENTRYPOINT

# 2. Set up env variables.
MAINTAINER {{ with .Json.maintainer }}{{ . }}{{ else }}Unknown{{ end }}
ENV GEARBOX_CONTAINER_NAME "docker-{{ .Json.name }}"
ENV GEARBOX_CONTAINER_VERSION ${VERSION}
# ENV GEARBOX_ENTRYPOINT ${GEARBOX_ENTRYPOINT}
LABEL gearbox.json='{{ .JsonString }}'
{{ range $k, $v := .Json }}{{ if ne $k "env" }}ENV GEARBOX_{{ $k | ToUpper }} "{{ $v }}"{{ end }}
{{ end }}
{{ range $k, $v := .Json.env }}ENV {{ $k | ToUpper }} "{{ $v }}"
{{ end }}

# 3. Now copy the local files specific to this container.
COPY build /etc/gearbox
COPY ${VERSION}/build /etc/gearbox
COPY ${VERSION}/gearbox.json /etc/gearbox/gearbox.json

# 4. Run the base.sh script to set everything up.
RUN /bin/bash /etc/gearbox/build/base.sh

# 6. Expose ports.
EXPOSE {{ range .Json.ports }}{{ . }} {{ end }}
WORKDIR /home/gearbox/projects
USER root

# 7. Run S6 init.
CMD ["/init"]

# END
################################################################################

{{ else }}
################################################################################
# {{ .CreationWarning }}
# {{ $.CreationInfo }}
# Referenced Docker container for docker-{{ .Json.name }} based off {{ .Json.base }} with {{ .Json.ref }} overlayed.

ARG VERSION={{ with .Json.version }}{{ . }}{{ end }}

# 1. First reference the gearbox-base image.
FROM {{ .Json.base }} as gearbox-base

# 2. Next reference the third party image.
FROM {{ .Json.ref }}
ARG VERSION
ARG GEARBOX_ENTRYPOINT
USER root

# 3. Copy the build directory over from gearbox-base image.
COPY --from=gearbox-base /etc/gearbox /etc/gearbox

# 4. Set up env variables.
MAINTAINER {{ with .Json.maintainer }}{{ . }}{{ else }}Unknown{{ end }}
ENV GEARBOX_CONTAINER_NAME "docker-{{ .Json.name }}"
ENV GEARBOX_CONTAINER_VERSION ${VERSION}
ENV GEARBOX_ENTRYPOINT ${GEARBOX_ENTRYPOINT}
LABEL gearbox.json='{{ .JsonString }}'
{{ range $k, $v := .Json }}LABEL container.{{ $k }}="{{ $v }}"
{{ end }}
{{ range $k, $v := .Json }}{{ if eq $k "env" }}# {{ end }}ENV GEARBOX_{{ $k | ToUpper }} "{{ $v }}"
{{ end }}
{{ range $k, $v := .Json.env }}ENV {{ $k | ToUpper }} "{{ $v }}"
{{ end }}

# 5. Now copy the local files specific to this container.
COPY build /etc/gearbox
COPY ${VERSION}/build /etc/gearbox
COPY ${VERSION}/gearbox.json /etc/gearbox/gearbox.json

# 6. Run the base.sh script to set everything up.
RUN /bin/bash /etc/gearbox/build/base.sh

# 7. Run the {{ .Json.name }}.sh script to set everything up.
RUN /bin/bash /etc/gearbox/build/{{ .Json.name }}.sh

# 8. Expose ports.
EXPOSE 22 9970 {{ range .Json.ports }}{{ . }} {{ end }}
WORKDIR /home/gearbox/projects
{{ with .Json.inner }}{{ . }}{{ end }}
CMD ["/init"]

# END
################################################################################

{{ end }}
